<!--TODO: Search(specific), Update, Delete-->
<!--TODO: 2. Build an edit html partial with these features -->
<!--TODO: 2.1 able to search for a specific employee by employee num-->
<!--TODO: 2.2 allow users to edit employee first name-->
<!--TODO: 2.3 allow users to delete employees-->


<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the EditCtrl is given the scope of the <div> element where it is called-->
<!--We then use EditCtrl (as ctrl) to manipulate elements within this <div>-->
<div ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>Member Management System
            <small>Edit</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="memID">Member number:</label>
            <input id="memID" class="form-control" type="text" name="memID"
                   placeholder="Enter member number"
                   ng-model="ctrl.memID"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>

    <hr>
    <table class="table table-striped" ng-show="ctrl.showDetails">
        <thead>
        <tr>
            <th>Member Attributes</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Member number</td>
            <td>
                {{ ctrl.result.memID }}
            </td>
        </tr>
        <tr>
            <td>Member First Name</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.first_name }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.result.first_name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.updateMemName()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Member Last Name</td>
            <td>
                    {{ ctrl.result.last_name }}

            </td>
        </tr>

        <tr>
            <td>Member</td>
            <td>
                <button type="button" class="btn btn-link btn-sm"
                        ng-disabled="!ctrl.result.memID"
                        ng-click="ctrl.deleteMem()">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>Date Join</td>
            <td>{{ ctrl.result.date_join }}</td>
        </tr>
        </tbody>
    </table>
</div>

