<!--TODO: Retrieve (retrieve all and eager loading) and insert data from the database.-->
<!--TODO: 7. Create searchDB.html. This partial is similar to the DMS SearchDB and should show: employee no, employee
 TODO: first name, employee last name, department ID, and department name. Similar to DMS it should have 2 buttons:
TODO: REQUIREMENTS:
 TODO: 7a first button: retrieve employee whose employee number, first name, or last name matches query string
 TODO: 7b second button: also retrieve employee's current department's ID and name
  TODO: 7c page is initialized with employee number, first name, or last name  of first 100 employee records
 -->
<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h1>Member Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter first name, last name, or member number">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Member
            </button>
            <button class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.searchForDepartment()">
                Search Booking
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Member No</th>
            <th>Member First Name</th>
            <th>Member Last Name</th>
            <th ng-show="ctrl.showDepartment">bookingID</th>
            <th ng-show="ctrl.showDepartment">Items List</th>
             
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="mem in ctrl.member">
            <td><a ng-click="ctrl.goEdit(mem.memID)" style="cursor: pointer;">{{ mem.memID }}</a></td>
            <td>{{ mem.first_name }}</td>
            <td>{{ mem.last_name }}</td>
            <td>
          <!--  <span ng-show="ctrl.showDepartment">
                Handles display of employees that have no departments 
                {{ mem.dept_emps[0] ? mem.dept_emps[0].dept_no : " "}}
            </span> 
            </td>
            <td>-->
            <span ng-show="ctrl.showDepartment">
                 <!-- Handles display of employees that have no departments -->
             <!--   {{ mem.dept_emps[0]
                ? (mem.dept_emps[0].department.dept_name)
                : " "}}
            </span>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>