<!--TODO: Send and retrieve information from server via Angular $http; modularize via services-->
<!--The ng-controller directive tells Angular the scope of the controller. In this case, the SearchCtrl is given
the scope of the <div> element where it is called. We then use SearchCtrl (as ctrl) to manipulate elements within
this <div>-->

<div ng-controller="SearchCtrl as ctrl">
    <div class="page-header">
        <h1>Booking Management System
            <small>Search</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="memName" class="form-control" type="text"
                   name="memName"
                   ng-model = "ctrl.queryString"
                   size="50"
                   placeholder="Enter member info">
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Member No</th>
            <th>Member First Name</th>
            <th>Member Last Name</th>
            <th>Member Phone Number</th>
        </tr>
        </thead>
        <tbody>
        <tr class="animation" ng-repeat="mem in ctrl.member | filter:ctrl.queryString">
            <td>{{mem.memNo }}</td>
            <td>{{ mem.memFirstName }}</td>
            <td>{{ mem.memLastName }}</td>
            <td>{{ mem.memPhoneNumber }}</td>
        </tr>
        </tbody>
    </table>
</div>