<h1>Login</h1>
<div class="panel panel-default">
  <div class="panel-body">
  <form name='loginForm' ng-submit='ctrl.login()' novalidate>
    <div class="form-group">
      <label for="username">Username(sign in email)</label>
      <input class="form-control" type="text" name="username" id="username" ng-model='ctrl.user.username'>
    </div>
      
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" ng-model='ctrl.user.password'>
    </div>
        
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
    
    <div class="col-md-2 form-group">
    <a href="/oauth/facebook" class="btn btn-primary btn-block">
      <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
    </a>
    </div>

    <div class="col-md-2 form-group">
      <a href="/oauth/google" class="btn btn-danger btn-block">
        <i class="fa fa-google-plus" aria-hidden="true"></i> Google
      </a>
    </div>
  
  </form>
  <div ng-if='ctrl.msg' class="alert alert-danger" role="alert"><i class='fa fa-exclamation-triangle'></i> {{ctrl.msg}}</div>
</div>
</div>